@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
.footer {
  background-color: #808080;
}

.footer_1 {
  text-align: center;
}
.footer_1 h5 {
  color: #a4916d;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.footer_1 p {
  font-weight: 500;
  color: gray;
}

.footer_2,
.footer_3 {
  text-align: left;
}
.footer_2 h4,
.footer_3 h4 {
  color: #a4916d;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}
.footer_2 ul,
.footer_3 ul {
  list-style: none;
  padding-left: 4%;
}
.footer_2 ul li,
.footer_3 ul li {
  line-height: 35px;
}
.footer_2 ul li a,
.footer_3 ul li a {
  color: gray;
  font-weight: 400;
  text-decoration: none;
}
.footer_2 ul li a:hover,
.footer_3 ul li a:hover {
  text-decoration: underline;
}

.footer_4 {
  border: 2px solid #e7e0d3;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  height: 40%;
}
.footer_4 h3 {
  color: #a4916d;
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin: unset;
  padding: unset;
}
.footer_4 p {
  color: #a0a0a0;
  padding: unset;
  margin: 10px;
}

.f4_email .f_email {
  border-radius: 5px;
  border: 2px solid #808080;
  height: 40px;
  margin-right: 2%;
}
.f4_email .f_button {
  border: 2px solid #a4916d;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
.f4_email .f_button:hover {
  background-color: #a4916d;
  color: #fff;
}

.footer_bot a {
  text-decoration: none;
}
.footer_bot a:hover {
  text-decoration: underline;
}

a.icon_bar {
  color: #444 !important;
}

.subheader-fh {
  padding: 20px 0px;
  background-color: rgb(247, 247, 247);
  box-shadow: 1px 1px 4px 0px #dcdcdc;
}
.subheader-fh h2 {
  color: gray;
  padding: 0;
  margin-top: 10px;
}
.subheader-fh .fhtop {
  display: flex;
  justify-content: space-between;
}
.subheader-fh .fhtop h3 {
  font-weight: 200;
  font-size: 25px;
  color: gray;
  margin: unset;
}
.subheader-fh .fhtop a {
  color: gray;
  text-decoration: none;
}
.subheader-fh .fhtop a:hover {
  text-decoration: underline;
}

.shop-filters {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-image: url(../img/stripes_5_b.png);
}
.shop-filters #option {
  color: gray;
  border: unset;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  padding-right: 20px;
}
.shop-filters #option .text-op {
  color: #a4916d;
  font-weight: 500;
}
.shop-filters #option .text-op :hover {
  color: #fff;
  background-color: gray;
}

.item {
  padding: unset;
}

.forher-img {
  width: 100%;
}

.forher-body-text {
  padding: 20px;
  text-align: center;
}
.forher-body-text h4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  color: black;
}
.forher-body-text .price {
  text-align: center;
  color: #a4916d;
}
.forher-body-text .price .price-1 {
  margin-right: 10px;
  color: gray;
  font-size: 18px;
}
.forher-body-text .price .price-1 .price-cl {
  color: gray;
}
.forher-body-text .price .price-2 {
  font-size: 18px;
}
.forher-body-text .price .price-2 .price-cl-2 {
  color: #a4916d;
}
.forher-body-text .rate-star {
  color: #a4916d;
  font-size: 13px;
}
.forher-body-text .rate-star .checked {
  color: white;
  font-weight: 200;
}

.forher-body-img {
  position: relative;
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.top-img:hover {
  opacity: 1;
  transition: all 0.5s ease-out;
}

.fh-next-page {
  background-image: url(../img/stripes_5_b.png);
}
.fh-next-page .page {
  color: #a4916d;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #a4916d;
  border-radius: 4px;
  text-align: center;
}
.fh-next-page .page p {
  padding-top: 6px;
}
.fh-next-page .page_a {
  color: #fff;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #a4916d;
  border-radius: 4px;
  text-align: center;
}
.fh-next-page .page_a p {
  padding-top: 6px;
  color: gray;
}
.fh-next-page .page_a:hover {
  background: #a4916d;
}
.fh-next-page .page_a:hover p {
  color: #fff;
}

.cart-img {
  width: 15%;
}

.item-cart {
  list-style: none;
}

.cart-item {
  list-style: none;
}

.cart-text p {
  margin: unset;
}

.payment {
  display: flex;
  justify-content: space-between;
  margin: auto;
  background: #fff;
  height: 40px;
  background-image: url(../img/stripes_5_b.png);
}
.payment h6 {
  color: gray;
  padding-top: 10px;
  padding-left: 10px;
}

.fh_checkout {
  margin-left: 20px;
  color: #a4916d;
  width: 150px;
  height: 60px;
  background: #fff;
  border: 2px solid #a4916d;
  border-radius: 4px;
  text-align: center;
}
.fh_checkout:hover {
  color: #fff;
  background: #a4916d;
}
.fh_checkout p {
  font-size: 17px;
  margin: unset;
  padding-top: 12px;
}

.money_1 {
  margin-right: 40px;
  color: #a4916d;
  width: 70px;
  height: 50px;
  background: #fff;
  border: 2px solid #a4916d;
  border-radius: 4px;
  text-align: center;
}
.money_1:hover {
  color: #fff;
  background: #a4916d;
}
.money_1 p {
  font-size: 17px;
  margin: unset;
  padding-top: 10px;
}

.ul-product {
  margin: unset;
  background: #a4916d;
  padding-left: 35px;
}
.ul-product li {
  line-height: 30px;
}
.ul-product .product-text {
  text-decoration: none;
  color: #fff;
}
.ul-product .product-text:hover {
  text-decoration: underline;
}

.ahaha {
  position: relative;
}
.ahaha .onsale {
  position: absolute;
  border-top-color: #a4916d !important;
  border-width: 80px 80px 0px 0px;
  border-color: transparent;
  border-style: solid;
  padding: 0;
  border-radius: 0;
  z-index: 2;
  background: none;
  top: 0 !important;
}
.ahaha .onsale i {
  color: white;
  left: 16px;
  top: -65px;
  position: absolute;
}

/* Import Google Font - Poppins */
.price-input {
  width: 100%;
  display: flex;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.price-input .field .input-max,
.price-input .field .input-min {
  margin: unset;
}

.field input {
  width: 70%;
  height: 60%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  padding: 0px 5px;
  width: 10px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

#fixed {
  position: fixed;
  bottom: 30%;
  right: 0;
  z-index: 999;
  width: 4.5%;
  font-weight: 100;
}
#fixed .fixed-2 {
  text-align: center;
  width: 70px;
  height: 70px;
  background: rgb(128, 181, 65);
  border-radius: 5px;
}
#fixed .fixed-2 img {
  margin-top: 8px;
  color: #fff;
  width: 40px;
}
#fixed .fixed-2 p {
  font-size: 16px;
  color: #fff;
  margin: unset;
  font-weight: 400;
}

@-webkit-keyframes my {
  0% {
    color: gray;
  }
  50% {
    color: #fff;
  }
  100% {
    color: gray;
  }
}
@-moz-keyframes my {
  0% {
    color: gray;
  }
  50% {
    color: #fff;
  }
  100% {
    color: gray;
  }
}
@-o-keyframes my {
  0% {
    color: gray;
  }
  50% {
    color: #fff;
  }
  100% {
    color: gray;
  }
}
@keyframes my {
  0% {
    color: gray;
  }
  50% {
    color: #fff;
  }
  100% {
    color: gray;
  }
}
.test {
  font-size: 15px;
  -webkit-animation: my 2000ms infinite;
  -moz-animation: my 2000ms infinite;
  -o-animation: my 2000ms infinite;
  animation: my 2000ms infinite;
}

.fixed-1 {
  background: #333;
  text-align: center;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}
.fixed-1 .fx-text {
  padding-top: 9px;
}
.fixed-1 .fx-text p {
  color: #fff;
  margin: unset;
}

.ct-form .ct-form-a {
  padding: 10px;
  border-radius: 5px;
  height: 40px;
}

.ct-message {
  color: black;
}
.ct-message h3 {
  font-size: 40px;
  font-weight: 200;
}
.ct-message h3 i {
  font-size: 40px;
  font-weight: bold;
  font-family: italic;
}
.ct-message .ct-send-email {
  background: #fff;
  width: 165px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #a4916d;
}
.ct-message .ct-send-email p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  color: #a4916d;
}
.ct-message .ct-send-email:hover {
  background: #a4916d;
}
.ct-message .ct-send-email:hover p {
  color: white;
}

.ct-information {
  color: black;
}
.ct-information h3 {
  font-size: 40px;
  font-weight: 200;
}
.ct-information h3 i {
  font-size: 40px;
  font-weight: bold;
  font-family: italic;
}
.ct-information h5 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
  color: #a4916d;
}
.ct-information p a {
  text-decoration: none;
  color: #a4916d;
}
.ct-information p a:hover {
  text-decoration: underline;
}

.one-second .column {
  width: 48%;
}

.wpcf7-form .column {
  margin-bottom: 10px;
}

.column,
.columns {
  float: left;
  margin: 0px 1%;
}

span.wpcf7-form-control-wrap {
  width: 100%;
  position: relative !important;
  display: inline-block;
  margin-bottom: 3px;
}

.blitem {
  border: 1px solid black;
}

.bl-img {
  overflow: hidden;
}
.bl-img .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: max-content;
  backface-visibility: hidden;
}

.middle {
  opacity: 1;
  position: absolute;
  top: 43%;
  left: 31%;
}
.middle .text {
  position: absolute;
  color: white;
  font-size: 16px;
}
.middle .text .icon-hover {
  text-align: center;
  width: 60px;
  height: 60px;
  background: #d2b48c;
  opacity: 0.7;
}
.middle .text .icon-hover i {
  font-size: 20px;
  color: white;
  padding-top: 20px;
}
.middle .text .icon-hover:hover {
  opacity: 1;
  background: #fff;
}
.middle .text .icon-hover:hover i {
  color: #deb887;
}

.post-desc {
  padding: 20px;
}
.post-desc .post-title a {
  color: black;
  font-size: 23px;
  font-weight: 200;
}
.post-desc .post-excerpt p {
  font-size: 16px;
  color: gray;
  margin: unset;
}

.post-footer {
  background: #fff;
  height: 44px;
}
.post-footer .post-links {
  margin: unset;
  display: flex;
  list-style: none;
  float: right;
  padding: unset;
  padding-top: 13px;
}
.post-footer .post-links .pl-a {
  padding: 0px 5px;
}
.post-footer .post-links .pl-a a {
  color: #deb887;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
.post-footer .post-links .pl-a a:hover {
  text-decoration: underline;
}

.modal-dialog {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

.modal-dialog .modal-content {
  position: relative;
  padding: 10px;
  height: auto;
}

.modal-content .btn-close {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0px;
  font-size: 20px;
  color: white;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.img-modal {
  width: 100%;
  height: 100%;
}

.modal-content .close {
  position: absolute;
  top: -16px;
  right: -13px;
  padding: 4px;
  font-size: 22px;
  color: white;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.modal_footer {
  margin: 10px 0px 10px 0px;
}

.img_modal {
  width: 100%;
}

.img-responsive {
  width: 100px;
}

/*# sourceMappingURL=app.css.map */
