@import "./variable";
.blitem {
  border: 1px solid black;
  .bl-a {
    position: relative;
  }
}
// LÀM KHUNG CHO ẢNH
.bl-img {
  overflow: hidden;
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: all 0.4s ease;
  }
}
.middle {
  position: absolute;
  top: 43%;
  left: 31%;
  .text {
    position: absolute;
    color: white;
    font-size: 16px;
    opacity: 0;
    transform: scale(0.1);
    transition: 0.4s ease-in-out;
    .icon-hover {
      text-align: center;
      width: 60px;
      height: 60px;
      background: #d2b48c;
      opacity: 0.7;
      i {
        font-size: 20px;
        color: white;
        padding-top: 20px;
      }
      &:hover {
        opacity: 1;
        background: #fff;
        i {
          color: #deb887;
        }
      }
    }
  }
}
.bl-a:hover .image {
  transform: scale(1.2);
}
.bl-a:hover .text {
  opacity: 1;
  transform: scale(1);
}
// CSS TEXT IMG
.post-desc {
  padding: 20px;
  .post-title {
    a {
      color: black;
      font-size: 23px;
      font-weight: 200;
    }
  }
  .post-excerpt {
    p {
      font-size: 16px;
      color: gray;
      margin: unset;
    }
  }
}
.post-footer {
  background: #fff;
  height: 44px;
  .post-links {
    margin: unset;
    display: flex;
    list-style: none;
    float: right;
    padding: unset;
    padding-top: 13px;
    .pl-a {
      padding: 0px 5px;
      a {
        color: #deb887;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// MODAL IMG
#blog {
  .modal {
    background-color: #0b0b0b;
    opacity: 0.8;
    .modal-dialog {
      margin: 0 !important;
      width: 100%;
      max-width: unset;
      height: 100% !important;
      pointer-events: unset;
      .container-modal {
        position: absolute;
        left: 25%;
        top: 15%;
        display: flex;
        i {
          right: 0px;
          font-size: 20px;
          position: absolute;
          text-align: right;
          padding-bottom: 10px;
          color: #fff;
          top: -30px;
          cursor: zoom-out;
        }
        img {
          opacity: 1 !important;
        }
      }
    }
  }
}
.img_auto {
  height: max-content !important;
}
