@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.product-header-2 {
  margin-top: 30px;
  height: 90px;
  padding: 0px 100px;
  background-color: rgba(247, 247, 247, 1);
  box-shadow: 1px 1px 4px 0px #dcdcdc;
  .SubMenu {
    height: 90px;
    .container_subMenu {
      padding-top: 22px;
      display: flex;
      .title_subMenu {
        width: 65%;
        float: left;
        color: #585858;
        font-size: 25px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 0px;
      }
      .ul_subMenu {
        display: block;
        float: right;
        text-align: right;
        width: 35%;
        list-style: none;
        li {
          font-size: 13px;
          color: rgba(88, 88, 88, 0.6);
          display: inline-block;
          padding-right: 30px;
          a {
            padding-left: 3px;
            color: gray;
            text-decoration: none;
            span {
              padding-left: 10px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
.pd1 {
  .Product_left {
    position: relative;
    .Product_tab_top {
      padding: 10px;
      margin-bottom: 20px;
      background-image: url(/img/img_product/stripes_5_b.png);
      box-sizing: border-box;
      overflow: hidden;
      .list_right {
        font-size: 13px;
        float: right;
        line-height: 49px;
        text-decoration: none;
        color: #a4916d;
        align-items: center;
        &:hover {
          text-decoration: underline;
        }
      }
      .bt_next {
        margin: unset;
        list-style: none;
        li {
          position: relative;
          height: 46px;
          width: 46px;
          padding: 10px 20px;
          border: 2px solid #989898;
          float: left;
          margin-right: 5px;
          border-radius: 4px;
          i {
            position: absolute;
            font-size: 12px;
            bottom: 14px;
            left: 18px;
            color: gray;
          }
        }
      }
    }
    .Product_wapper {
      .card {
        border: unset;
        background-color: unset;
        border-radius: unset;
        .card-body {
          padding: unset;
          flex: none;
          .tab-img-view {
            width: 440px;
            height: 500px;
          }
        }
        .card-header {
          padding: unset;
          background-color: unset;
          border-bottom: unset;
          .nav-item {
            .nav-link {
              padding: unset;
              color: unset;
              border: unset;
              .tab-img {
                opacity: 0.5;
                width: 110px;
                height: 110px;
                &:hover {
                  opacity: 1;
                }
              }
            }
            .active .show {
              opacity: 1 !important;
            }
          }
        }
      }
      .nav-tabs {
        border-bottom: unset;
      }
    }
    .Product_content_wapper {
      .product-title {
        font-weight: 300;
        letter-spacing: 0px;
        font-size: 35px;
        color: black;
      }
      .product-price {
        .span_product_1 {
          color: #a4916d;
          font-size: 15px;
          font-family: "Playfair display", Arial, Helvetica, sans-serif;
        }
        .span_product_2 {
          color: #a4916d;
          font-size: 30px;
          font-family: "Playfair display", Arial, Helvetica, sans-serif;
          font-weight: 700;
        }
      }
      .desc-text {
        margin: 0 0 15px;
        color: #808080;
        font-size: 14px;
      }
      .addCart {
        margin-bottom: 20px;
        .number_product {
          display: inline-block;
          height: auto;
          line-height: 48px;
          width: 70px;
          height: 45px;
          text-align: center;
          border: 1px solid #626262;
          border-radius: 2px;
          box-shadow: inset 0 0 2px 2px rgb(0 0 0 / 2%);
        }
        .bt_addCart {
          background-color: white;
          color: #a4916d;
          display: inline-block;
          height: auto;
          line-height: 26px;
          width: 115px;
          height: 48px;
          text-align: center;
          border: 2px solid;
          border-radius: 5px;
        }
      }
      .posted_meta {
        margin-bottom: 15px;
        .post_in {
          color: #a8a8a8;
          a {
            color: #a4916d;
            font-family: fangsong;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .Product_related {
      p {
        padding: 10px 0px;
        font-size: 20px;
        font-weight: 200;
      }
    }
  }
}
#accordionExample1 {
  padding-bottom: 10px;
}
.accordion-body {
  p {
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #808080;
  }
}
.accordion-button {
  background: #f9f9f9 !important;
  min-height: 60px;
  padding: 0px;
  flex-direction: row-reverse;
  position: relative;
  p {
    font-size: 12px;
    font-family: "Verdana", Helvetica, Arial, sans-serif !important;
    color: #a4916d;
    font-weight: 700;
    height: 100%;
    margin-bottom: 0px !important;
    position: absolute;
    left: 80px;
    border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
    padding: 9px;
    padding-left: 15px !important;
  }
}
.accordion-button::after {
  background-image: url(/img/img_product/plus-solid.svg) !important;
  position: absolute;
  color: #a4916d;
  left: 30px;
}
.accordion-button:not(.collapsed)::after {
  position: absolute;
  color: #a4916d;
  left: 30px;
  background-image: url(/img/img_product/minus-solid.svg) !important;
}
.accordion-button:focus {
  border: 1px solid #444;
}
.accordion-button:focus {
  box-shadow: none;
  border: unset;
}
.collapsed {
  p {
    color: #444444 !important;
  }
}
.accordion-body {
  #reviews {
    #comments {
      .title_reviews {
        font-size: 21px;
        line-height: 25px;
        color: #000000;
      }
      .commnetList {
        padding-left: 0;
        list-style: none;
        .commnetItem {
          display: flex;
          margin-bottom: 20px;
          .img_item {
            width: 40px;
            height: 40px;
            border: 3px solid #d8d8d8;
            box-shadow: inset 6px -4px 20px 0px gray;
            border-radius: 50%;
            margin-right: 10px;
          }
          .comment_text {
            color: #d8d8d8;
            padding: 10px;
            border: 2px solid;
            border-radius: 5px;
            .title_item {
              strong {
                font-weight: 600;
                font-size: 12px;
                span {
                  font-size: 10px;
                  color: gray;
                  font-weight: 200;
                }
              }
            }
            .rate-star {
              .checked {
                color: white;
                font-weight: 200;
                color: gray;
              }
              color: $colorText;
              font-size: 13px;
            }
          }
        }
        .addreview {
          h3 {
            color: gray;
            font-weight: 400;
            font-size: 30px;
            color: gray;
          }
          p {
            a {
              text-decoration: none;
              color: $colorText;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
.pd2 {
  .cart-img {
    width: 20%;
  }
  .item-cart {
    list-style: none;
  }
  .cart-item {
    list-style: none;
  }
  .cart-text p {
    margin: unset;
  }
  .payment {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background: #fff;
    height: 40px;
    background-image: url(../img/stripes_5_b.png);
    h6 {
      color: gray;
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  .fh_checkout {
    color: $colorText;
    width: 150px;
    height: 60px;
    background: #fff;
    border: 2px solid $colorText;
    border-radius: 4px;
    text-align: center;
    &:hover {
      color: #fff;
      background: $colorText;
    }
    p {
      font-size: 17px;
      margin: unset;
      padding-top: 12px;
    }
  }
  .money_1 {
    margin-right: 40px;
    color: $colorText;
    width: 70px;
    height: 50px;
    background: #fff;
    border: 2px solid $colorText;
    border-radius: 4px;
    text-align: center;
    &:hover {
      color: #fff;
      background: $colorText;
    }
    p {
      font-size: 17px;
      margin: unset;
      padding-top: 10px;
    }
  }
  .ul-product {
    margin: unset;
    background: $colorText;
    padding-left: 35px;
    li {
      line-height: 30px;
    }
    .product-text {
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (max-width: 1025px) {
  .tab-img {
    opacity: 0.5;
    width: 77px !important;
    height: 77px !important;
    &:hover {
      opacity: 1;
    }
  }
  .tab-img-view {
    width: 308px !important;
    height: 385px !important;
  }
}
@media only screen and (max-width: 769px) {
  .ul_subMenu {
    display: none !important;
  }
  .tab-img {
    opacity: 0.5;
    width: 77px !important;
    height: 77px !important;
    &:hover {
      opacity: 1;
    }
  }
  .tab-img-view {
    width: 308px !important;
    height: 385px !important;
  }
}
@media only screen and (max-width: 378px) {
  .product-header-2 {
    padding-left: 10px;
  }
  .Product_tab_top {
    position: relative;
    .bt_next {
      position: absolute;
      padding: unset;
      left: 10px;
    }
  }
  .ul_subMenu {
    display: none !important;
  }
  .accordion-button {
    p {
      padding-top: 24px;
    }
  }
  .addreview {
    h3 {
      padding: 10px !important;
    }
    p {
      margin: unset;
      margin-top: 10px;
    }
  }
  .tab-img {
    opacity: 0.5;
    width: 77px !important;
    height: 77px !important;
    &:hover {
      opacity: 1;
    }
  }
  .tab-img-view {
    width: 308px !important;
    height: 335px !important;
  }
}
